USE [mydb]
GO
/****** Object:  Table [dbo].[Testi]    Script Date: 23/03/2020 16.54.56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testi](
	[asd] [int] NULL,
	[dew] [int] NULL
) ON [PRIMARY]
GO
