USE [mydb]
GO
/****** Object:  Table [mydb].[Poistolista]    Script Date: 09/03/2020 15.50.28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mydb].[Poistolista](
	[Nimi] [varchar](50) NOT NULL,
	[Määrä] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
