body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Taulujen tyyli*/
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 10px;
}
/*Lomakkeiden tyyli ja formatointi*/
input {
    width: 240px;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 5px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 5px;
}
/*Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

