
@{
    ViewBag.Title = "Ohjeet";
}

<h2>Ohjeet</h2>
<body>
    
  <div>
      <h3>Varasto</h3>
    Varasto sivulla näet varaston sisällön ja voit lisätä/poistaa materiaaleja.<br />
    Materiaalit ovat jaettuna tyypeittäin tauluihin. (Vanerit, Maalit, Laudat)<br />
    Taulujen oikeassa laidassa on vaihtoehdot muokata tai poistaa kyseinen materiaali.<br />
    Poista  = Poistaa materiaalin varastosta.<br />
    Muokkaa = Avaa näkymän jossa voit muokata materiaalin tietoja.<br />
    Tämän näkymän ylälaidassa näet tuotteen Id:n<br />
    Näkymässä on myös 2 nappia (Tallenna,Peruuta)<br />
    Painamalla tallenna tallennat tekemäsi muutokset jos yksiköt ovat ok.<br />
    Painamalla peruuta peruutat muokkauksen ja palaat sivun alkuun.<br />
    <br />
    Sivun alaosassa näet napin "Lisää uusi materiaali", jota painamalla pääset lisäämään varastoon uuden materiaalin<br />
    Tämä aukaisee uuden näkymän jossa voit valita minkä tyyppisen, hintaisen, miten paljon, minkä kokoisen,<br />
    missä yksikössä koko on ilmoitettu, minkä koulun varastossa materiaali on, missä kaapissa materiaali on,<br />
    mistä materiaali on ostettu ja myös antamaan lisätietoja mikäli haluat.<br />

    Tämän näkymän alaosassa on taas 2 nappia(Luo uusi, Peruuta)<br />
    Kun painat Luo uusi lisää ohjelma materiaalin varastoon antamillasi tiedoilla jos tiedot ovat ok.<br />
    Painamalla peruuta voit sulkea materiaalin lisäys näkymän.<br /><br /></div>
    
  <div>
      <h3>Tilaukset</h3>
      Tilaukset sivulla voit nähdä tilaukset jotka ovat lisätty ohjelmaan.<br />
      Tilaukset näkyvät taulussa jonka oikeassa laidassa on 2 painiketta(Tiedot,Poista)<br />
      Painamalla Tiedot saat näkyviin tilauksen sisällön.<br />
      Painamalla Poista poistat tilauksen ja sen tiedot.<br />
      <br />
      Sivun alaosassa on uuden tilauksen luonti.<br /><br />
  </div>
  <div>
      <h3>Käyttäjät</h3>
      Käyttäjät sivulla voit luoda uusia käyttäjiä.<br />
      Ohjelma pyytää sinua antamaan käyttäjänimen, valtuustason ja salasanan.<br />
      Painikkeesta Create ohjelma luo käyttäjän antamillasi tiedoilla jos tiedot ovat ok.<br />
      Tämän jälkeen ohjelmaan voi kirjautua tekemälläsi käyttäjällä.<br />

  </div>
    
</body>

