

@using (Html.BeginForm("EditInfo", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div>
    <h2>MOI</h2>
</div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



